@charset "UTF-8";

// ------------------------------------------------------------------------
// Fonts
// ------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&text=%E2%86%90|%E2%86%92');
// @font-face {
//   font-family: Work Sans;
//   font-weight: 500;
//   src: url("../fonts/work-sans/WorkSans-Medium.ttf") format("truetype");
// }


@font-face {
  font-family: Sabon;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sabon/SabonMTStd-Regular.otf") format("opentype");
}

@font-face {
  font-family: Sabon;
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/sabon/SabonLTStd-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: Sabon;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/sabon/SabonMTStd-Semibold.otf") format("opentype");
}

$font-serif: "Sabon", serif;
$font-sans: "Work Sans", sans-serif;
$font-display: "Archivo", serif;

@mixin font-style($font-fam, $xs, $sm, $md, $lg, $xl, $letter-sp, $line-h, $weight, $style){
  font-family: $font-fam;
  font-size: $xs;
  letter-spacing: $letter-sp;
  line-height: $line-h;
  font-weight: $weight;
  font-style: $style;
  font-stretch: normal;
  @include media-breakpoint-up(sm) { font-size: $sm; }
  @include media-breakpoint-up(md) { font-size: $md; }
  @include media-breakpoint-up(lg) { font-size: $lg; }
  @include media-breakpoint-up(xl) { font-size: $xl; }  
}

// ------------------------------------------------------- xs --- sm --- md --- lg --- xl -- lsp -- lh ---- w --- style
@mixin font-serif-xl  { @include font-style($font-serif,   52px,  52px,  52px,  52px,  52px,   0,   1.1em,  600,  normal); }
@mixin font-serif-l   { @include font-style($font-serif,   22px,  20px,  22px,  22px,  24px,   0,   1.3em,  600,  normal); }
@mixin font-serif-m   { @include font-style($font-serif,   18px,  18px,  18px,  18px,  18px,   0,   1.2em,  400,  normal); }
@mixin font-serif-s   { @include font-style($font-serif,   14px,  14px,  14px,  14px,  14px,   0,   1.2em,  600,  normal); }
@mixin font-sans-l    { @include font-style($font-sans,    25px,  25px,  25px,  25px,  25px,   0,   1.1em,  400,  normal); }
@mixin font-sans-m    { @include font-style($font-sans,    14px,  14px,  14px,  14px,  14px,   0,   1.2em,  400,  normal); }
@mixin font-sans-s    { @include font-style($font-sans,    12px,  11px,  11px,  11px,  11px,   0,   1.3em,  500,  normal); }
@mixin font-display-l { @include font-style($font-display, 27px,  27px,  27px,  27px,  27px,   0,   1.1em,  600,  normal); }

.font-serif-xl   { @include font-serif-xl; }
.font-serif-l    { @include font-serif-l; }
.font-serif-m    { @include font-serif-m; }
.font-serif-s    { @include font-serif-s; }
.font-sans-l     { @include font-sans-l; }
.font-sans-m     { @include font-sans-m; }
.font-sans-s     { @include font-sans-s; }
.font-display-l  { @include font-display-l; }



