@charset "UTF-8";
@import 'bootstrap-scss/_functions';
@import 'bootstrap-scss/_variables';
@import 'bootstrap-scss/mixins/_breakpoints';

// ------------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------------

// Layout

$space: 30px;
$header-h: 70px;
$scale-land: 1.25;


// ------------------------------------------------------------------------
// Utilities
// ------------------------------------------------------------------------

.color-white        { color: white; }
.color-black        { color: black; }
.color-black-50     { color: rgba(0,0,0, 0.5); }
.color-white-50     { color: rgba(255,255,255, 0.5); }
.bg-color-white     { background-color: white; }
.hover-white:hover  { color: white; }
.hover-u:hover      { text-decoration: underline; }
.upper              { text-transform: uppercase; }
.font-bold          { 
  &[class*="font-sans"] { font-weight: 600; } 
  &[class*="font-serif"] { font-weight: 700; } 
}
.font-weight-400    { font-weight: 400 !important; }
.font-weight-500    { font-weight: 500 !important; }

// ------------------------------------------------------------------------
// Color palettes
// ------------------------------------------------------------------------

$color-data: #dc4b33;
$color-map: #5E397F;

// --- Yellow
$palette-3-bg: #fbd347;
$palette-3-darker: #B2772B;
$palette-3-lighter: #FCE69A;
.palette-3-bg                { background-color:  $palette-3-bg; }
.palette-3-bg-lighter        { background-color:  $palette-3-lighter; }
.palette-3-color-city-name   { color:             black; }
.palette-3-color-texts       { color:             $palette-3-darker; }
.palette-3-color-texts-large { color:             black; }
.palette-3-color-texts-upper { color:             $palette-3-darker; }
.palette-3-stroke-lines-data { stroke:            $color-data !important; }
.palette-3-stroke-lines-grid { stroke:            rgba($palette-3-darker, 0.5) !important; }
.palette-3-color-hr          { border-top-color:  rgba($palette-3-darker, 0.8); }
.palette-3-color-footer      { background-color:  white; }
.palette-3-color-map         { color:             $color-map; }

// --- Turquoise
$palette-4-bg: #97d1be;
$palette-4-darker: #347069;
$palette-4-lighter: #C6E6DB;
.palette-4-bg                { background-color:  $palette-4-bg; }
.palette-4-bg-lighter        { background-color:  $palette-4-lighter; }
.palette-4-color-city-name   { color:             black; }
.palette-4-color-texts       { color:             $palette-4-darker; }
.palette-4-color-texts-large { color:             black; }
.palette-4-color-texts-upper { color:             $palette-4-darker; }
.palette-4-stroke-lines-data { stroke:            $color-data !important; }
.palette-4-stroke-lines-grid { stroke:            rgba($palette-4-darker, 0.5) !important; }
.palette-4-color-hr          { border-top-color:  rgba($palette-4-darker, 0.8); }
.palette-4-color-footer      { background-color:  white; }
.palette-4-color-map         { color:             $color-map; }


// ------------------------------------------------------------------------
// External files import
// ------------------------------------------------------------------------

@import '_reset';
@import '_typography';
@import '_mixins';


// ------------------------------------------------------------------------
// General tags & classes
// ------------------------------------------------------------------------

* {
}

body {

  &.popup {
    overflow-y: hidden;
  }

  &.landing {
    section.all-cities {
      .city-prev .texts {
        opacity: 0;
      }
    }
  }
}

main { 
  padding-top: $header-h; 
  padding-bottom: 100px; 
  min-height: 100vh;
  overflow: hidden;
}

a {
	cursor: pointer;
  text-decoration: none;
  color: black;
  
  &.u { 
    // text-decoration: underline; 
    border-bottom: 1px solid black;
    display: inline-block;
    height: 1em;
  }
  
  &.active, &:hover {
    color: $color-data;
    &.u {
      border-bottom-color: $color-data;
    }
  }

  &.btn {
    $btn-h: 40px;
    background-color: $color-data;
    display: inline-flex;
    height: $btn-h;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: $btn-h/2;
    text-decoration: none;
    color: white;
    @include font-sans-m;
    font-weight: 500;
    @include transition(background-color 200ms);
    
    &:hover {
      background-color: $color-map;
    }
  }
}

[data-url] {
  cursor: pointer;
}

hr {
  height: 0;
  border-top: 0.5px solid black;
  margin: 8px 0;
}

// ------------------------------------------------------------------------
// Color system
// ------------------------------------------------------------------------

// .color-a            { color: $color-a; }
// .color-b            { color: $color-b; }
// .color-c            { color: $color-c; }
// .bg-color-a         { background-color: $color-a; }
// .bg-color-b         { background-color: $color-b; }
// .bg-color-c         { background-color: $color-c; }
// .border-color-a     { border-color: $color-a; }
// .border-color-b     { border-color: $color-b; }
// .border-color-c     { border-color: $color-c; }
// .stroke-a           { stroke: $color-a !important; }
// .stroke-b           { stroke: $color-b !important; }
// .stroke-c           { stroke: $color-c !important; }
// .border-top-color-a { border-top-color: $color-a; }
// .border-top-color-b { border-top-color: $color-b; }
// .border-top-color-c { border-top-color: $color-c; }

// ------------------------------------------------------------------------
// Grid
// ------------------------------------------------------------------------

$gridMargin: $space;
.cols-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: flex-start;
  position: relative;
  .cols-container {
    margin-left: -$gridMargin;
    margin-right: -$gridMargin;
  }
}

@mixin col ($colN, $totalColN) {
  position: relative;
  width: calc((100% - #{$gridMargin * ($totalColN + 1)}) / #{$totalColN} * #{$colN} + #{$gridMargin * ($colN - 1)});
  &.no-margin {
    width: calc(100% / #{$totalColN} * #{$colN});
  }
}
@mixin col-1-on-1 { @include col(1, 1); /*border: 1px solid rgba(black, 0.1);*/ }
@mixin col-1-on-5 { @include col(1, 5); /*border: 1px solid rgba(black, 0.1);*/ }
@mixin col-2-on-5 { @include col(2, 5); /*border: 1px solid rgba(black, 0.1);*/ }
@mixin col-3-on-5 { @include col(3, 5); /*border: 1px solid rgba(black, 0.1);*/ }
@mixin col-1-on-2 { @include col(1, 2); /*border: 1px solid rgba(black, 0.1);*/ }
@mixin col-1-on-3 { @include col(1, 3); /*border: 1px solid rgba(black, 0.1);*/ }

.col-1-on-1 { @include col-1-on-1; }
.col-1-on-5 { @include col-1-on-5; }
.col-2-on-5 { @include col-2-on-5; }
.col-3-on-5 { @include col-3-on-5; }
.col-1-on-2 { @include col-1-on-2; }
.col-1-on-3 { @include col-1-on-3; }

.adjust-margin {
  padding: 0 15px;
}

// ------------------------------------------------------------------------
// Sections
// ------------------------------------------------------------------------

nav#header {  
  position: fixed;
  top: 0; left: 0; right: 0;
  height: $header-h;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $space;
  @include transition(top 400ms);

  &.home {
    @include media-breakpoint-up(lg) { justify-content: flex-end; }
  }

  &.hide {
    top: -$header-h - 10px;    
  }
  @at-root body.landing & {
    top: -$header-h - 10px;
  }

  h1.title {
    pointer-events: none;
    @include media-breakpoint-up(lg) { 
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      align-items: center;
      justify-content: center;
    }

    a {
      pointer-events: all;
    }
  }

}

section.city-detail {
  
  .left {
    @include col-1-on-1;
    @include media-breakpoint-up(lg) { @include col-1-on-2; }
    @include media-breakpoint-up(xl) { @include col-2-on-5; }
  }

  .right {
    @include col-1-on-1;
    @include media-breakpoint-up(lg) { @include col-1-on-2; }
    @include media-breakpoint-up(xl) { @include col-3-on-5; }
  }

  .city-contents {
    opacity: 0;
    padding-top: 20px;
    transform: translateY(30px);
    @include transition(opacity 400ms 400ms, transform 800ms 400ms);

    &.reveal {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .city-detail-map {
    padding-right: $space;
    max-width: 600px;
    @include media-breakpoint-only(xs) { padding-right: 0; }
  }

  .description {
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
  }

  .stat {  
  
    .stat-meta-row {
      position: relative;
      display: flex;
      align-items: flex-start;
      
      .label { 
        display: inline-block;
        width: 30%;
      }
      
      .info { 
        display: inline-block;
        width: 70%;
        min-width: 70%;
        position: relative;
        
        .weblink {
          max-width: 100%;
          display: inline-block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    .stat-shape {
      text-align: center;

      svg {
        display: inline-block;
        max-width: 300px;
        $width-small: 0.7px;
        $width-large: 1.1px;
        path.city-stat-path {
          stroke-width: $width-small;
          vector-effect: non-scaling-stroke;
          opacity: 0.3;

          &.active {
            opacity: 1;
          }

          &#line-10, &#line-20, &#line-30 {
            stroke-width: $width-large;
            stroke-dasharray: 4 1;
            &:not(.active) { 
              opacity: 0.5;
              opacity: 1;
              opacity: 0.6;
            }
          }
        }
      }
    }
  }

  &.collapsed {}
}

// .adjust-xs-margin {
//   @include media-breakpoint-only(xs) { margin-top: -$space*2; }
// }

section.all-cities {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 20px;

  @include media-breakpoint-down(sm) { margin: 10vw 20px; }

  transform-origin: top center;
  @include transition(transform 1000ms);

  .wrap-line {
    flex-basis: 100%;
    display: none;

    // --- Match this * 
    &.sm { @include media-breakpoint-only(sm) { display: block; } }
    &.md { @include media-breakpoint-only(md) { display: block; } }
    &.lg { @include media-breakpoint-only(lg) { display: block; } }
    &.xl { @include media-breakpoint-only(xl) { display: block; } }
  }

  .city-prev {
    position: relative;
    margin-bottom: $space*2;
    @include transition(opacity 900ms 300ms);
    
    width: 100%;
    // --- With this *
    @include media-breakpoint-only(xs) { max-width: 360px; }
    @include media-breakpoint-only(sm) { width: 50%; }
    @include media-breakpoint-only(md) { width: 33%; }
    @include media-breakpoint-only(lg) { width: 25%; }
    @include media-breakpoint-only(xl) { width: 20%; }

    
    .thumb-wrapper {
      width: 100%;
      height: 0;
      padding-top: 100%;
      position: relative;
      &:hover {
        .map    { transform: scale(1.04); }
        .lines  { transform: scale(1.07); }
      }
      .map, .lines {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        z-index: 1;
        @include transition(opacity 900ms 300ms, transform 400ms);
      }
    }


    .texts {
      @include transition(opacity 900ms 300ms);
      .city {}
      .stat-text-home {}
      .source {
        max-width: 200px;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        opacity: 0.7;
      }
    }

    .legend-landing-line {
      position: absolute;
      top: 50%; left: 50%; width: 0; padding-top: 50%;
      border-left: 1px solid rgba($palette-3-darker, 0.3);
      z-index: 0;
      opacity: 0;
    }
    .legend-landing-text {
      position: absolute;
      left: 0;
      top: calc(100% - 0px);
      width: 100%;
      display: block;
      text-align: center;
      opacity: 0;
      @include transition(opacity 900ms);
      pointer-events: none;

      @include media-breakpoint-up(md) {
        line-height: 0.7em !important;
        span { font-size: 10px !important; }
      }

      // @include media-breakpoint-only(xs) {
      //   left: 0;
      //   top: calc(100% - 20px);
      //   width: 100%;
      //   display: block;
      //   text-align: center;

      //   .line { display: none; }
      // }
    }

    &.legend-on {
      .texts { 
        @include transition(opacity 900ms);
        opacity: 0; 
      }
      [class^='legend-landing'] { opacity: 1 }
    }

    &.off { 
      opacity: 0; 
      pointer-events: none; 

      .texts {
        opacity: 0; 
      }
    }

  }
}

#comment-landing {
  position: absolute;
  left: 0; right: 0; top: 0; height: 100vh;
  display: flex;
  opacity: 0;
  pointer-events: none;
  @include transition(opacity 400ms);
  
  // @include media-breakpoint-only(xs) { top: calc(360px + #{$header-h} + 80px); }
  // @include media-breakpoint-only(sm) { top: calc(50vw + #{$header-h} + 80px); }
  // @include media-breakpoint-only(md) { top: calc(33vw * #{$scale-land} + #{$header-h} + 80px); }
  // @include media-breakpoint-only(lg) { top: calc(25vw * #{$scale-land} + #{$header-h} + 80px); }
  // @include media-breakpoint-only(xl) { top: calc(20vw * #{$scale-land} + #{$header-h} + 80px); }

  .top, .bottom {
    position: absolute;
    left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &.top { top: 0; }
    &.bottom { bottom: 0; }
    padding: $space;
  }

  .landing-title {
    @include media-breakpoint-up(xl) { font-size: 1.8vw; }
  }

  .text {
    max-width: 30em;
  }


  &.show {
    opacity: 1;
    pointer-events: all;
  }
}

section.footer-1 {}
section.footer-2 {
  background-color: #E1E5EA;
  img.partners {
    width: 580px;
    max-width: 100%;
  }
}


#legend-overlay {
  position: fixed;
  z-index: 3;

  top: 0; left: 0; right: 0; bottom: 0;
  // top: $space; left: $space; right: $space; bottom: $space;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  @include transition(opacity 400ms);

  .content-wrapper-scroll {
    max-height: 100vh;
    overflow-y: scroll;
    position: relative;


    padding: $space*2 $space;
    // padding: $space 0 0 0;
    // @include media-breakpoint-up(lg) { 
    //   padding: $space;
    // }

    .container-fluid {  
      @include box-shadow(0, 0, 20px, rgba(0,0,0, .2));
      img {
        max-width: 320px;
        margin: $space*3 0;
      }

      @include media-breakpoint-up(sm) { 
        // max-width: 400px;
        padding: 0 10vw;
        img { max-width: 600px; }
      }
      @include media-breakpoint-up(lg) { 
        padding: $space;
        max-width: 1200px;
        img { margin: 0; }
      }
    }
  }

  &.show {
    opacity: 1;
    pointer-events: all;
  }

  .bg { 
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0.8;
  }

  .close-x {
    pointer-events: all;
    position: absolute;
    top: calc(#{$space*2} + 8px);
    right: calc(#{$space} + 17px);
    @include font-sans-l;
    font-size: 30px !important;
  }

  img {
    position: relative;
  }
}

// ------------------------------------------------------------------------
// BOOTSTRAP BREAKPOINTS
// ------------------------------------------------------------------------

// xs ---                 Portrait phones
// sm ---  576px and up   Small devices (landscape phones)
// md ---  768px and up   Medium devices (tablets)
// lg ---  992px and up   Large devices (desktops)
// xl --- 1200px and up   Extra large devices (large desktops)

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-between(md, xl) { ... }
// @include media-breakpoint-down(lg) { ... }
